.change-password-modal-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.change-password-modal-content {
    display: flex;
    justify-content: center;
}

.change-password-modal-error {
    height: 20px;
    text-align: center;
    color: red;
}