.sign-in-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.sign-in-modal-title {
    font-size: 30px;
    font-weight: bold;
}

.sign-in-modal-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sign-in-modal-submit-button {
    font-size: 1.1em;
}

.sign-in-modal-separator {
    width: 60%;
    height: 1px;
    background: gray;
}

.sign-in-modal-footer {
    text-align: center;
    color: dimgray;
    line-height: 22px;
}

.sign-in-modal-footer-button {
    cursor: pointer;
    text-decoration: underline;
    color: #525252;
}

.sign-in-modal-footer-button:hover {
    color: #363636;
}

.sign-in-modal-error {
    height: 20px;
    text-align: center;
    color: red;
}