.input-control-wrapper {
    border: 1px solid darkgray;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.input-wrapper {
    height: 40px;
    padding: 0 20px;
}

.input-control-wrapper:has(.input:focus) {
    border-color: darkblue;
}

.input {
    font-size: 1.05em;
    width: 100%;
    outline: none;
    border: none;
}

.textarea-wrapper {
    padding: 10px 20px;
}

.textarea {
    resize: none;
}