.btn {
    padding: 0 20px;
    border-radius: 20px;
    color: darkblue;
    border: 1px solid darkblue;
    cursor: pointer;
    background: white;
    height: 40px;
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.btn:disabled {
    color: rgba(0, 0, 139, 0.5);
    border-color: rgba(0, 0, 139, 0.5);
}

.btn:disabled:hover {
    background: white;
}

.btn:hover {
    background: rgba(0, 0, 139, 0.05);
}