.btn {
    cursor: pointer;
    background: white;
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    border: 1px solid;
}

.btn.regular {
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
}

.btn.small {
    font-size: 15px;
    height: 30px;
    padding: 0 15px;
    border-radius: 15px;
}

.btn.extra-small {
    font-size: 14px;
    height: 25px;
    padding: 0 13px;
    border-radius: 25px;
}

.btn.primary:disabled {
    color: rgba(0, 0, 139, 0.5);
    border-color: rgba(0, 0, 139, 0.5);
}

.btn.primary:hover {
    background: rgba(0, 0, 139, 0.05);
}

.btn.primary {
    color: darkblue;
    border-color: darkblue;
}

.btn.secondary:disabled {
    color: rgba(105, 105, 105, 0.5);
    border-color: rgba(105, 105, 105, .5);
}

.btn.secondary:hover {
    background: rgba(105, 105, 105, 0.09);
}

.btn.secondary {
    color: dimgray;
    border-color: dimgray;
}

.btn.danger:disabled {
    color: rgba(277, 0, 0, 0.5);
    border-color: rgba(277, 0, 0, 0.5);
}

.btn.danger:hover {
    background: rgba(277, 0, 0, 0.05);
}

.btn.danger {
    color: #e30000;
    border-color: #e30000;
}

.btn:disabled:hover {
    background: white;
}

.btn.fit {
    width: fit-content;
}

.btn.no-outline {
    border-color: transparent;
}