.icon-button {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: none;
    color: black;
}

.icon-button:hover {
    background: rgba(0, 0, 0, 0.09);
}