.page-content {
    padding: 10px 20px 10px 50px;
}

.page-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: 1.8em;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.page-disabled-screen {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    z-index: 2;
}