.header-sign-in-button {
    height: 40px;
    font-size: 1.1em;
    padding: 0 20px;
    border-radius: 20px;
    color: darkblue;
    border: 1px solid darkblue;
    cursor: pointer;
    background: white;
}

.header-sign-in-button:hover {
    background: rgba(0, 0, 139, 0.05);
}

.header-account-button-content {
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 0 10px;
    column-gap: 5px;
    color: black;
    text-decoration: none;
}

.header-account-button-content.active, .header-account-button-content:hover {
    background: rgba(0, 0, 0, 0.09);
}

.header-account-button-content.active:hover {
    background: rgba(0, 0, 0, 0.18);
}

.header-account-button-text {
    max-width: 100px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}