.history-video-table {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.history-video-preview {
    width: 290px;
    height: 162px;
}

.history-video-table-item:hover > .history-video-preview {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.history-video-table-item {
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 700px;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    text-decoration: none;
    color: black;
}

.history-video-table-item:hover {
    background: rgba(0, 0, 0, 0.09);
}

.history-video-title {
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 17px;
    font-weight: bold;
}

.history-video-description {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 10px 5px 5px 5px;
    column-gap: 15px;
}

.history-video-subtext {
    color: dimgray;
    font-size: 15px;
}

.history-video-user-name {
    color: dimgray;
    font-size: 17px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.history-video-info {
    padding: 10px 10px 10px 0;
    max-width: 395px;
    box-sizing: border-box;
}

.history-video-user-info {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 5px;
    align-items: center;
    padding: 10px 0;
    width: fit-content;
}

.history-video-user-info:hover > .history-video-user-name {
    text-decoration: underline;
    color: #3d3d3d;
}

.history-date-separator {
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0;
}