.tab-item {
    padding: 10px 20px;
    font-size: 19px;
    color: gray;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.tab-item.selected {
    color: #4d4d4d;
    border-bottom: 3px solid #4d4d4d;
}

.tab-item:hover {
    color: #4d4d4d;
}