.comment-form {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    margin-bottom: 30px;
}

.comment-form-input {
    resize: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    font-size: 15px;
    line-height: 20px;
    transition: all 0.1s ease-in-out;
    padding: 0 0 5px 0;
    overflow: hidden;
    height: 25px;
    width: 100%;
    box-sizing: border-box;
}

.comment-form-input:focus {
    border-bottom: 2px solid dimgray;
}

.comment-form-buttons {
    display: flex;
    column-gap: 10px;
}

.comment-form-active-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.comment-form-limit {
    font-size: 15px;
    color: dimgray;
}