.video-preview {
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    position: relative;
}

.video-preview-img {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: inherit;
}

.video-preview-duration {
    padding: 2px 4px;
    border-radius: 2px;
    user-select: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
}